@media (max-width: 1170px) and (min-width: 640px) {
    .container {
        width: 640px !important;
    }
    .one {
        background-image: url(../../assets/images/bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 35px;
    }
    .one header.main {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0;
        margin-bottom: 40px;
    }
    .one header.main .logo {
        margin-top: 10px;
    }
    .one div.title {
        margin-left: 10px;
    }
    .one div.title h1 {
        font-size: 30px;
    }
    .one div.title p {
        width: 350px;
        margin-bottom: 30px;
    }
    .one div.title a {
        width: 150px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .features {
        background-image: url(../../assets/images/bg-features.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 130px;
    }
    .features .container {
        padding-top: 8px;
    }
    .features .container .images {
        display: none;
    }
    .features .container .text {
        margin: 0 auto;
        text-align: center;
    }
    .features .container .text h3 {
        font-size: 20px;
        padding: 0;
    }
    .features .container .text p {
        padding-bottom: 8px;
    }
    .features .container .text a {
        width: 150px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .services .container div .icon {
        padding-top: 10px;
    }
    .services .container div .icon ul li.service {
        width: 200px;
        padding-top: 90px;
    }
    .services .container div .icon ul li.service p {
        width: 200px;
    }
    .services .container div .photo {
        padding-top: 20px;
    }
    .services .container div .photo img {
        width: 200px;
    }
    .services .container div .text {
        padding-top: 30px;
    }
    .daily {
        margin: 30px 0;
    }
    .daily .container .photo .flex {
        justify-content: center
    }
    .daily .container ul li a {
        width: 210px;
    }
    .daily .container ul li a img {
        width: 210px;
    }
    .fully {
        padding: 10px 0;
        margin-bottom: 30px;
    }
    .class {
        background-image: url(../../assets/images/bg-main.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 400px;
    }
    .class .container .wrapper .w_class {
        top: 10px;
        left: 10px;
        width: 250px;
    }
    .class .container .wrapper .w_class h4 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .class .container .wrapper .w_class p {
        margin-bottom: 15px;
        font-size: 12px;
    }
    .class .container .wrapper .w_class a {
        width: 150px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .class .container .wrapper .center-text {
        font-size: 12px;
        bottom: 509px;
        right: 275px;
    }
    .class .container .wrapper .m_class {
        bottom: 343px;
    right: 7px;
    width: 250px;
    }
    .class .container .wrapper .m_class h4 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .class .container .wrapper .m_class p {
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 12px;
    }
    .class .container .wrapper .m_class a {
        width: 150px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        margin-top: 0;
    }
    .shop{
        padding: 30px 0;
    }

    .shop .container .images{
        flex-wrap: wrap;
        width: 500px;
        margin: 0 auto;
    }

    .shop .container .images li{
        padding-bottom: 20px;
    }
    .shop .container .images li p{
        margin-top: 10px;
    }

    .shop .statistic {
        gap: 5px;
        width: 600px;
        margin-top: 25px;
    }
    .shop .statistic li.stat{
        width: 140px;
        height: 140px;
        background-position: center 15px;
        padding-top: 70px;
    }
    .shop .statistic li.stat a{
        font-size: 15px;
    }
   
}