@import "colors";

.daily {
    margin-top: 135px;
    margin-bottom: 158px;
    background-color: $color-blue;
    .container {

            ul {
                li {
                    display: block;
                    a{
                        display: block;
                    }
                }
            }
    }
}
