@import "colors";

.features {
    background-image: url("../../images/bg-features.jpg");
    height: 300px;
    .container {
        padding-top: 29px;
        div {
            display: flex;
            justify-content: space-between;
            .images {
                .wfw {

                }
                .wfm {
                    position: relative;
                    left: -20px;
                }
                .wfmg {
                    position: relative;
                    left: -40px;
                }
            }
            .text {
                display: inline-block;
                color: $color-white;
                margin-right: 50px;
                text-align: right;
                h3 {
                    font-size: 30px;
                    font-weight: bold;
                    text-transform: capitalize;
                    padding-bottom: 10px;
                    padding-top: 50px;
                }
                p {
                    text-transform: capitalize;
                    font-size: 20px;
                    padding-bottom: 40px;
                }
                a {

                    display: inline-block;
                    color: $color-white;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    text-decoration: none;
                    width: 205px;
                    height: 40px;
                    border: 1px solid $color-white;
                    line-height: 40px;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        background-color: $color-white;
                        color:$color-black;
                    }
                }
            }
        }
    }
}
