@import "colors";

.services {
    .container {
        width: 1110px;
        div {
            .icon {
                padding-top: 120px;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li.service {
                        display: block;
                        text-align: center;
                        color: $color-blue;
                        padding-top: 105px;
                        h4 {
                            font-size: 20px;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 14px;
                            font-weight: 300;
                            width: 280px;
                        }
                        &.fitness {
                            background: url(../../assets/images/fitness.png) center top no-repeat;
                        }
                        &.diet {
                            background: url(../../assets/images/gym.png) center top no-repeat;
                        }
                        &.habbits {
                            background: url(../../assets/images/mat.png) center top no-repeat;
                        }
                        &:hover {
                            h4 {
                                color: $color-green;
                            }
                            &.fitness {
                                background-image: url(../../assets/images/fitness-active.png);
                            }
                            &.diet {
                                background-image: url(../../assets/images/gym-active.png);
                            }
                            &.habbits {
                                background-image: url(../../assets/images/mat-active.png);
                            }
                        }
                    }
                }
            }
            .photo {
                padding-top: 60px;
                display: flex;
                justify-content: space-between;
            }
            .text {
                padding-top: 90px;
                text-align: center;
                padding-bottom: 15px;
                h4 {
                    color: #838383;
                    font-size: 20px;
                }
                p {
                    color: #a0a0a0;
                    font-size: 14px;
                    font-weight: 300;
                    span {
                        color: $color-green;
                    }
                }
            }
        }
    }
}
